@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Big+Shoulders+Text:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*header-bg: orange;
header-color: cyan;

start-bg: blue;
start-star: cyan;

body-bg: grey;
body-color: blue;
*/

html {
  --blue0: #335299;
  --blue1: #778FC6;
  --blue2: #4D69A9;
  --blue3: #1C3C85;
  --blue4: #0F2A69;

  --red0: #E53B3B;
  --red1: #FF8D8D;
  --red2: #FD6262;
  --red3: #C61818;
  --red4: #9D0606;

  --purple0: #732D99;
  --purple1: #A872C6;
  --purple2: #8647A9;
  --purple3: #5D1684;
  --purple4: #470A69;
}

body {
  --colorBg: var(--blue4);
  --colorText: var(--purple4);
  --colorHeader: var(--blue1);
  --colorHeaderBg: var(--purple0);
  --colorMainBg: var(--blue1);
  --colorAccent: var(--red3);

  --size: min(25px, max(1vw, 16px));
  margin: 0;
  padding: 0;

  font-size: var(--size);
  color: var(--colorText);
  background-color: var(--colorBg);
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

p {font-size: 1.1em}

h1, h2, h3, h4, h5, h6 {
  max-width: max-content;
  text-align: center;
  border-radius: calc(var(--size) * 2);
  padding: calc(var(--size) / 2.5) calc(var(--size) * 1.2);
  font-family: 'Big Shoulders Display', Helvetica, Arial, sans-serif;
  margin: 0;
  color: var(--colorHeader);
  background-color: var(--colorHeaderBg);
}

#headerimg {
  height: calc(var(--size) * 20);
}

.textblock {
  background-color: var(--colorMainBg);
  padding: 20px;
  border-radius: calc(var(--size) * 2);
  text-align: center;
  width: calc(100% - 40px);
}

.textblock.big {
  width: 80vw;
  min-width: 400px;
  max-width: 1000px;
}

.halfsplit {
  display: grid;
  grid-template-rows: min-content calc(var(--size) * 1.5) min-content;
  grid-template-columns: 100%;
  justify-items: center;
}

.halfsplit > * {
  grid-column: 1;
}

.halfsplit > *:nth-child(1) {
  align-self: end;
  grid-row: 1/span 2;
  z-index: 1;
}

.halfsplit > *:nth-child(2) {
  align-self: start;
  grid-row: 2/span 2;
}

.headerstart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar Definitions */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--colorHeaderBg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 2;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80vw;
  min-width: 400px;
  max-width: 1000px;
  margin: 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: var(--colorHeader);
  font-family: 'Big Shoulders Text', Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
}

.sublist {
  position: absolute;
  color: var(--colorHeader);
  width: 220px;
  line-height: 2em;
  display: none;
  left: 50%;
  transform: translate(-50%, 0);
}

.sublist ul {
  background-color: var(--colorText);
  padding: 10px 0;

}

li:hover .sublist {
  display: block;
}

.navheader {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filler {
  height: 50px;
}

/* Main Grid Definition */

main {
  display: flex;
  flex-direction: column;
  gap: calc(var(--size) * 2);
}

div.anchor {
  margin-top: -50px;
  position: absolute;
}

.skillsgrid {
  padding: 40px;
  display: flex;
  width: 80vw;
  min-width: 400px;
  max-width: 1000px;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 40px;
}

.skillsgrid > * {
  width: 45%;
}