@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*header-bg: orange;
header-color: cyan;

start-bg: blue;
start-star: cyan;

body-bg: grey;
body-color: blue;
*/

html {
  --purple0: #4E10BA;
  --purple1: #8056C9;
  --purple2: #6633BD;
  --purple3: #3B0B8E;
  --purple4: #2D076F;
  
  --blue0: #0878AF;
  --blue1: #4D9BC1;
  --blue2: #2A86B3;
  --blue3: #055A84;
  --blue4: #034767;
  
  --red0: #E20057;
  --red1: #E8558E;
  --red2: #E32C73;
  --red3: #B40046;
  --red4: #8D0037;
}

body {
  --colorBg: var(--purple0);
  --colorText: var(--purple4);
  --colorHeader: var(--colorText);
  --colorHeaderBg: var(--red0);
  --colorMainBg: var(--blue1);

  --size: max(2vmin, 16px);
  margin: 0;
  padding: 0;

  font-size: var(--size);
  color: var(--colorText);
  background-color: var(--colorBg);
  font-family: Roboto, Helvetica, Arial, sans-serif;

  display: grid;
  grid-template-rows: min-content calc(var(--size) * 1.5) min-content;
  grid-template-columns: 100%;

  /*align-items: center;*/
  justify-items: center;
}

body * {grid-column: 1;}

h1, h2, h3, h4, h5, h6 {
  margin-left: auto; margin-right: auto;
  max-width: max-content;
  text-align: center;
  color: var(--colorHeader);
  background-color: var(--colorHeaderBg);
  border-radius: calc(var(--size) * 2);
  padding: calc(var(--size) / 2.5) calc(var(--size) * 1.2);
  font-family: 'Big Shoulders Display', Helvetica, Arial, sans-serif;
}

#headerimg {
  border: 5px solid var(--colorHeaderBg);
  border-radius: 50%;
  height: calc(var(--size) * 20);
  aspect-ratio: 1 / 1;

  grid-row: 1;
}

h1 {
  align-self: end;
  grid-row: 1/span 2;
  margin: 0;
  z-index: 1;
}

.mainblock {
  grid-row: 2/span 2;
  background-color: var(--colorMainBg);
  padding: 20px;
  border-radius: calc(var(--size) * 2);
  width: 80vw;
  min-width: 400px;
  max-width: 1000px;
  text-align: center;
}