@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Big+Shoulders+Text:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*header-bg: orange;
header-color: cyan;

start-bg: blue;
start-star: cyan;

body-bg: grey;
body-color: blue;
*/

html {
  --blue0: #335299;
  --blue1: #778FC6;
  --blue2: #4D69A9;
  --blue3: #1C3C85;
  --blue4: #0F2A69;

  --red0: #E53B3B;
  --red1: #FF8D8D;
  --red2: #FD6262;
  --red3: #C61818;
  --red4: #9D0606;

  --purple0: #732D99;
  --purple1: #A872C6;
  --purple2: #8647A9;
  --purple3: #5D1684;
  --purple4: #470A69;
}

body {
  --colorBg: var(--blue4);
  --colorText: var(--purple4);
  --colorHeader: var(--blue1);
  --colorHeaderBg: var(--purple0);
  --colorMainBg: var(--blue1);
  --colorAccent: var(--red3);

  --size: max(2vmin, 16px);
  margin: 0;
  padding: 0;

  font-size: var(--size);
  color: var(--colorText);
  background-color: var(--colorBg);
  font-family: Roboto, Helvetica, Arial, sans-serif;

  display: grid;
  grid-template-rows: min-content calc(var(--size) * 1.5) min-content;
  grid-template-columns: 100%;

  /*align-items: center;*/
  justify-items: center;
}

p {font-size: 1.1em}
body * {grid-column: 1;}

h1, h2, h3, h4, h5, h6 {
  margin-left: auto; margin-right: auto;
  max-width: max-content;
  text-align: center;
  border-radius: calc(var(--size) * 2);
  padding: calc(var(--size) / 2.5) calc(var(--size) * 1.2);
  font-family: 'Big Shoulders Display', Helvetica, Arial, sans-serif;
}

h1, h2 {
  color: var(--colorHeader);
  background-color: var(--colorHeaderBg);
}

h3, h4, h5, h6 {
  color: var(--purple3);
}

#headerimg {
  border: 5px solid var(--colorHeaderBg);
  border-radius: 50%;
  height: calc(var(--size) * 20);
  aspect-ratio: 1 / 1;

  grid-row: 1;
}

h1 {
  align-self: end;
  grid-row: 1/span 2;
  margin: 0;
  z-index: 1;
}

.mainblock {
  grid-row: 2/span 2;
  background-color: var(--colorMainBg);
  padding: 20px;
  border-radius: calc(var(--size) * 2);
  width: 80vw;
  min-width: 400px;
  max-width: 1000px;
  text-align: center;
}