

/******************** Navbar ********************/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--purple3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 2;
}

.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menubars {
  padding: 0 15px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  color: var(--colorHeader);
  font-size: 2rem;
}

.menubars:hover, .menubars.active {
  background-color: var(--purple4);
}

.dropdown {
  display: none;
  position: fixed;
  background-color: var(--purple4);
  top: 50px;
  width: max-content;
  padding: 5px 20px 10px 0;
}

.menubars.active ~ .dropdown {
  display: initial;
}

.dropdown ul {
  padding-left: 20px;
  margin: 0;
}

.dropdown li {
  margin: 10px 0;
}

.dropdown a {
  color: var(--colorHeader);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4em;
}

.dropdown li ul {
  font-size: 0.85em;
}

.logo a {
  font-family: 'Big Shoulders Display', Helvetica, Arial, sans-serif;
  color: var(--colorHeader);
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: none;
}

.lang {
  color: var(--colorHeader);
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.lang div {
  cursor: pointer;
}
