/***************** Skills Grid ******************/
.skillsgrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.skillsgrid > * {
  width: 45%;
}

/***************** Media Queries ****************/
@media screen and (max-width: 800px) {
  .skillsgrid > * {
    width: 100%;
  }
}
